*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(f./rm1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}


/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 4%;
    background-color: rgba(49, 175, 225, 0.719) ;
    border-bottom: 1px #1386ce solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.navbar .logo{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
}

.navbar .logo a{
    margin-left: 2rem;
    font-weight: 700;
    color: #193549;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar .logo img{

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 300%;
}

.navbar .navbar-nav a{
    display: inline-block ;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    color: #193549;
    font-weight: 600;
    font-size: 0.8rem;
    background: 2rem #15222c17;
    border-radius: 20px;
    padding: 8px 10px;
    text-decoration: underline;
}

.navbar .navbar-nav a:hover{
    color: rgb(8, 2, 27);
    font-size: 0.9rem;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

#menu{
    display: none;
}
/* navbar */



/* hero section */
.hero-section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.hero-section .content{
    
    width: 35%;
}

.hero-section .content h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    text-shadow:0 0 5px rgb(11, 7, 84);
    
}


.hero-section .picture{
    width: 25rem;
    margin-right: 10rem;
}
/* hero section */



/* about section */
.about{
    background-color: #183f67;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding-top: 5rem;
}

.about .about-tittle{
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    padding-top: 5rem;
    padding-left: 6rem;
}

.about .about-tittle p{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    text-shadow:0 0 5px rgb(11, 7, 84);
    
}

.about .about-tittle span{
    color: rgb(129, 177, 236);
}

.about .about-content{
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-content .about-content1, 
.about .about-content .about-content2{
    
    font-weight: 600;
    margin-right: 2rem;
}

.about .about-content .about-content1 h5, 
.about .about-content .about-content2 h5{ 
    font-weight: 600;
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
    justify-content: center;
    
}

.about .about-content .about-content1 p, 
.about .about-content .about-content2 p{
    font-weight: 400;
    color: #fff;
    width: 85%;
    justify-content: center;
    text-align: justify;
}
/* about section */



/* product section */
.product{
    background-color:#b5dcf5;
    margin-top: 0;
    padding-top: 5rem;
}

.product .product-tittle{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    color: #183f67;
    text-align: center;
    
}

.product .product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    margin-bottom: 0;
}

.product-container .product-content1,
.product-container .product-content2,
.product-container .product-content3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

.product-container .product-content1 img,
.product-container .product-content2 img,
.product-container .product-content3 img{
    width: 70%;
    border-radius: 20px;
}

.product-container .product-content1 p,
.product-container .product-content2 p,
.product-container .product-content3 p{
    margin-top: 2rem;
    color: #15222C;
    text-align: center ;
}
/* product section */

/* vidio section */
.vidio{
    background-color: #183f67;
    min-height: 40vh;
    margin-top: 0;
    padding-top: 4rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
}


/* contact section */
.contact{
    background-color: #183f67;
    min-height: 40vh;
    margin-top: 0;
    padding-top: 4rem;
}

.contact-tittle{
    font-size:2rem;
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    text-shadow:0 0 5px#183f67 ;
    
}

.contact-tittle p{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12rem;
    margin-right: 2rem;
    max-width: 80%;
    color: #fff;
    font-size: 2.5rem;
}

.contact-content {
    
    text-align: justify; 
}

.button,
.button1 {
    padding: 20px;
}

.button a,
.button1 a {
    text-decoration: overline;
    color: #ffffff;
    border: #000000;
    padding: 5px 10px 5px 10px;
    border: solid white;
    border-radius: 700px;
}

/* contact section */

/* regist section */
.regist {

background-color: #b5dcf5;
    min-height: 30vh;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #020509;
    text-align: center;
}

/* footer */
footer{
    background-color: #ffffff;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-left: 6rem;
    padding-right: 6rem;
}

.footer-nav a{
    color: #193549;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin: 1rem;
}

/* footer */


/* media queries */

/* laptop */
@media screen and (max-width: 2000px) {
    html{
        font-size: 75%;
    }

    #menu{
        display: inline-block;
    }

    .navbar{
        padding: 1.8rem 4%;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color:#183f67;
        width: 30rem;
        height: 100vh;
    }

    .navbar .navbar-nav.active{
        right: 0;
        transition: 1s;
    }

    .navbar .navbar-nav a{
        font-size: medium;
        color: #fff;
        display: block;
        margin: 1.4rem;
    }

    .navbar .navbar-nav a:hover{
        color: #ffffff;
        font-size: 1.6rem;
    }

    .navbar .navbar-nav a::after{
        content: '';
        display: block;
        padding-bottom: 0.2rem;
        border-bottom: 0.1rem solid #ffffff;
        transform: scaleX(0);
        transition: 0.2s linear;
    }

    .footer{
        font-size: 75%;
    }
    
    .footer-nav a{
        font-size: 11px;
    }
    
    .credit p, a{
        font-size: 11px;
    }
}



/* tablet */
@media screen and (max-width: 750px) {
    html{
        font-size: 60%;
    }

    .hero-section{
        display: flex;
        min-height: 10vh;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .hero-section .content{
        margin-left: 4rem;
        margin-top: 10rem;
        width: 60%;
    }
    
    .hero-section .content p{
        font-size: 1.6rem;
        font-weight: 700;
        color: #fff;
    
    }

    .hero-section .picture{
        width: 25rem;
        margin: 10rem;
    }

    .about{
        min-height: 50vh;
        padding-bottom: 4rem;
    }

    .about .about-tittle p{
        width: 80%;
    }
    .about .about-content{
        display: flex;
        flex-direction: column;
    }

    .product .product-container{
        display: flex;
        flex-direction: column;
        margin: 2rem;
        margin-bottom: 0;
    }

    .product-container .product-content1,
    .product-container .product-content2,
    .product-container .product-content3{
        width: 80%;
    }
    
    .contact{
        background-color: #f3f5f6;
        min-height: 40vh;
        margin-top: 0;
        padding-top: 9rem;
        }

    .contact .contact-content{
        display: flex;
        flex-direction: column;
    }

    .button{
        margin-top: 5rem;
    }
    
    .footer{
        font-size: 60%;
    }

    .footer-nav a{
        font-size: 8px;
    }
    
    .credit p, a{
        font-size: 8px;
    }
}



/* mobile */
@media screen and (max-width: 350px) {
    html{
        font-size: 55%;
    }
}




















